        *, *::before, *::after{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        user-select: none;
        }
        body {
            background: #1C1C1C;
        }
        .flex {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .prompt {
            font-family: 'Poppins', sans-serif;
            position: absolute;
            width: 100%;
            height: 100vh;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 5rem;
            z-index: 5;
            opacity: 1;
            padding: 0 1rem;
        }
        #prompt #title {
            transition: ease-in-out .5s;
            opacity: 0;
        }
        .prompt2 {
            font-family: 'Poppins', sans-serif;
            font-size: 5rem;
            position: absolute;
            width: 100%;
            height: 100vh;
            color: #fff;
            background: #1C1C1C;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            z-index: 4;
            opacity: 1;
            transition: all ease-in-out .3s;
        }
        .empty {
            position: absolute;
            width: 100%;
            height: 100vh;
            font-family: 'Poppins', sans-serif;
            background: #1C1C1C;
            color: #fff;
            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 1.5rem;
            letter-spacing: 4px;
            z-index: 10;
            opacity: 1;
            transition: all ease-in-out .3s;
            padding: 0 1rem;
        }
        
        .boxx{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .boxx .emp {
            display: inline-block;
            position: relative;
            z-index: 15;
        }
        .emp::before {
            position: absolute;
            content: '';
            bottom: -10%;
            background: #ff3234;
            width: 100%;
            height: 4px;
            border-radius: 8px;
            
        }
        .error {
            position: absolute;
            width: 100%;
            height: 100vh;
            font-family: 'Poppins', sans-serif;
            background: #1C1C1C;
            color: #fff;
            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 1.5rem;
            letter-spacing: 4px;
            z-index: 9;
            opacity: 1;
            transition: all ease-in-out .3s;
            padding: 0 1rem;
        }
        #container {
            height: 100vh;
            /* background-image: url(background.jpg); */
            background-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://raw.githubusercontent.com/coder-val/SVG-files/main/background.jpg);
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Poppins', sans-serif;
            opacity: 0;
            transition: all ease-in-out .3s;
        }
        .glass{
            padding:15px 50px 20px 50px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 1 400px;
            margin: auto;
            height: auto;
            /* height: 400px;
            width: 400px; */
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-top: 1px solid rgba(255, 255, 255, 0.05);
            border-right: 1px solid rgba(255, 255, 255, 0.05);
            border-radius: 10px;
            backdrop-filter: blur(7px);
            background: radial-gradient(at 50% 0%,rgba(0,0,0,0), rgba(255,255,255,0.1));
            box-shadow: 0 0px 30px rgba(0, 0, 0, 0.4);
            opacity: 0;
            transition: all ease-in-out .3s;
        }
        form{
            position: relative;
            width: 100%;
            height: 100%;
            /* padding: 10px; */
        }
        form h1{
            width: 100%;
            position: relative;
            color: #fff;
            font-size: 4.5rem;
            font-weight: bolder;
            letter-spacing: 1px;
            margin-bottom: 25px;
            text-align: center;
            
        }
        form h1::before{
            position: absolute;
            content: '';
            bottom: 5%;
            left: 50%;
            transform: translate(-50%, -5%);
            width: 40%;
            height: 4px;
            background: orange;
            border-radius: 8px;
        }
        form .inputBox{
            position: relative;
            width: 100%;
            margin-top: 12px;
        }
        form .inputBox input{
            border: none;
            outline: none;
            width: 100%;
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-top: 1px solid rgba(255, 255, 255, 0.05);
            border-right: 1px solid rgba(255, 255, 255, 0.05);
            color: #fff;
            font-weight: 400;
            border-radius: 8px;
            letter-spacing: 1px;
            font-family: 'Poppins', sans-serif;
            box-shadow: 0 5px 15px rgba(255, 255, 255, 0.05);
            padding: 5px 10px 5px 32px;
            transition: all ease-in-out .3s;
        }
        form .inputBox input, .output {
            font-size: 17px;
            color: #fff;
        }
        form button{
            position: relative;
            width: 100%;
            margin-top: 12px;
            background: #ED7A08;
            border: none;
            border-radius: 8px;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            cursor: pointer;
            text-shadow: 0 0 0 transparent;
            font-family: 'Poppins', sans-serif;
            padding: 5px 10px;
            transition: all ease-in-out .3s;
        }
        form button:hover{
            background: #d8710b;
            color: rgb(233, 233, 233);
        }
        .output {
            text-align: center;
            width: 100%;
            height: auto;
            background: rgb(255, 49, 49);
            padding: 5px 10px;
        }
        .socials {
            margin-top: 24px;
            width: 100%;
            text-align: center;
        }
        i {
            font-size: 20px;
            color: #fff;
        }
        .s {
            margin-right: 6px;
        }
        .fas {
            color: rgb(204, 204, 204);
            position: absolute;
            top: 50%;
            left:3%;
            transform: translate(-3%, -50%);
            font-size: 16px;
        }
        #n, #e, #p, #c {
            padding: 8px 16px;
        }
        .fas {
            position: absolute;
            top: 50%;
            left: 4%;
            transform: translate(-4%, -50%);
        }
        form input:focus {
            border-color: #ED7A08;
        }
        
        .image {
            /* background-image: url(https://raw.githubusercontent.com/coder-val/SVG-files/main/bsod.jpg);
            background-size: cover;
            background-position: center; */
            background: #1C1C1C;
            /* background: #2B323C; */
            width: 100%;
            height: 100vh;
            font-family: 'Manrope', sans-serif;
            color: white;
            padding: 0 2rem;
            display: none;
        }
        .image .content {
            position: relative;
            flex-direction: column;
            /* border: 1px solid red; */
            max-width: 700px;
            width: 100%;
            height: auto;
        }
        .image .content .num {
            position: relative;
            flex-direction: row;
            margin-top: -3rem;
            margin-bottom: .5rem;
            width: 100%;
        }
        .num .fr{
            margin: 0;
            font-size: 17.6rem;
            color: #CF9A66;
            z-index: 2;
        }
        .code {
            max-width: 500px;
            font-size: 1.5rem;
            letter-spacing: 1px;
            width: 100%;
        }
        .code .er{
            font-weight: 800;
            color: #36b3ed;
        }
        .ms{
            color: #ff5656;
            margin-left: 2rem;
            
        }
        .ms .pg{
            color: #84f963;
        }
        @media only screen and (max-width: 520px) {
            .num .fr{
                font-size: 13rem;
            }
            .code{
                font-size: 1.2rem;
            }
            .boxx{
                /* align-items: flex-start; */
                flex-direction: column-reverse;
            }
            .boxx h1{
                font-size: 1.5rem;
                letter-spacing: 0;
                line-height: 2rem;
            }
            .boxx img{
                width: 220px;
                height: 220px;
            }
            .emp::before{
                height: 3px;
                bottom: 0;
            }
        }
        @media only screen and (max-width: 425px) {
            /* .image {
                    background-image: url(https://raw.githubusercontent.com/coder-val/SVG-files/main/bsod2.jpg);
            } */
            #container {
                padding: 0 10px;
            }
            .glass {
                padding:5px 30px 20px 30px;
            }
            .empty, .error {
                font-size: 16px;
            }
            .prompt {
                font-size: 3.8rem;
            }
            .prompt2 {
                font-size: 5rem;
            }
            .num .fr{
                font-size: 10rem;
            }
            .code{
                font-size: .9rem;
            }
            #oh img{
                width: 190px;
                height: 190px;
            }
            .boxx{
                justify-content: center;
                align-items: center;
                flex-direction: column-reverse;
            }
            .boxx h1{
                font-size: 1.2rem;
                letter-spacing: 0;
                line-height: 2rem;
            }
            .boxx img{
                width: 130px;
                height: 130px;
            }
            .emp::before{
                height: 3px;
                bottom: 0;
            }
        }